<!-- {{blogs | json}} -->

<div class="container">
  <h2>Sample API Invoke from Angular 7 and Show content on HTML page</h2>
  <div class="row">
      <div class="col-lg-4 "  *ngFor="let blog of blogs">
          <img src="https://s3.amazonaws.com/goaptive-bucket/blog/{{blog.imageURL}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{blog.heading}}</h5>
            <p class="card-text">{{blog.blurb}}</p>
            
          </div>
        </div>
  </div>
</div>


<router-outlet></router-outlet>
